<mat-card>
  <div class="container-fluid">
    <form [formGroup]="form" (submit)="salvar()">
      <nav class="navbar navbar-light bg-light">
        <div class="col">
          <h6>Data pedido</h6>
          <p>
            {{
              this.form.get("createdAt")?.value
                ? this.form.get("createdAt")?.value
                : (data | date: "dd/MM/YY")
            }}
          </p>
        </div>
        <!-- <div class="col"><img class="rounded " src="imagens/logo.jpg" height="70" width="150"></div> -->
      </nav>
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="input-group mb-3" formGroupName="cliente">
          <div class="input-group-prepend">
            <span class="input-group-text">Cliente</span>
          </div>
          <!-- <mat-form-field appearance="outline"> -->


              <input
              type="text"
              aria-label="Number"
              matInput
              class="form-control"
              style="border: 1px solid #ced4da"
              formControlName="nomeEmpresa"
              [matAutocomplete]="autoCliente"
              (input)="autoCompleteCliente($event)"
            />

          <mat-autocomplete #autoCliente="matAutocomplete">
            <mat-option
              *ngFor="let result of listaCliente | async"
              [value]="result.nomeEmpresa"
            >
              {{ result.nomeEmpresa }}
            </mat-option>
          </mat-autocomplete>
          <!-- </mat-form-field> -->
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Material</span>
          </div>
          <input
            type="text"
            aria-label="Material"
            class="form-control"
            formControlName="material"
            name="Material"
            id="Material"
            required
          />
        </div>
      </div>

      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="shadow-sm p-3 mb-5 rounded">
          <h6 class="text-center">Cor:</h6>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Frente</span>
          </div>
          <input
            type="text"
            aria-label="Material"
            class="form-control"
            formControlName="cor_frente"
            name="cor_frente"
            id="cor_frente"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Verso</span>
          </div>
          <input
            type="text"
            aria-label="Material"
            class="form-control"
            formControlName="cor_verso"
            name="cor_verso"
            id="cor_verso"
            required
          />
        </div>
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="shadow-sm p-3 mb-5 rounded">
          <h5 class="text-center">Papel</h5>
        </div>
        <div class="input-group mb-3" formGroupName="formato">
          <div class="input-group-prepend">
            <label class="input-group-text">Formato</label>
          </div>
          <input
            type="text"
            aria-label="descricao_formato"
            name="descricao_formato"
            id="descricao_formato"
            formControlName="descricao_formato"
            class="form-control"
            style="border: 1px solid #ced4da"
            [matAutocomplete]="autoFormato"
            (input)="autoCompleteFormato($event)"
          />
          <mat-autocomplete #autoFormato="matAutocomplete">
            <mat-progress-bar

              mode="indeterminate"
            ></mat-progress-bar>
            <mat-option
              *ngFor="let result of listaFormato | async"
              [value]="result.descricao_formato"
            >
              {{ result.descricao_formato }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Quantidade de folhas:</span
            >
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Quantidade de folhas "
            name="quantidade_folhas"
            id="quantidade_folhas"
            formControlName="quantidade_folhas"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>

        <div class="input-group mb-3" formGroupName="papel">
          <div class="input-group-prepend">
            <label class="input-group-text" for="papel">Papel</label>
          </div>
          <input
            type="text"
            name="descricao"
            id="descricao"
            formControlName="descricao"
            class="form-control"
            style="border: 1px solid #ced4da"
            [matAutocomplete]="autoPapel"
            (input)="autoCompletePapel($event)"
          />
          <mat-autocomplete #autoPapel="matAutocomplete">
            <mat-progress-bar

              mode="indeterminate"
            ></mat-progress-bar>
            <mat-option
              *ngFor="let result of listaPapel | async"
              [value]="result.descricao"
            >
              {{ result.descricao }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Obs:</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Observação"
            formControlName="observacao"
            aria-describedby="input_observacao"
            name="obs"
          />
        </div>
      </div>

      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="shadow-sm p-3 mb-5 rounded">
          <h5 class="text-center">Acabamentos</h5>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
                id="numeracao"
                name="numeracao"
              />
            </div>
          </div>

          <div class="input-group-prepend">
            <span class="input-group-text">Numeração</span>
          </div>
          <input
            type="number"
            aria-label="num_ini"
            class="form-control"
            placeholder="Inicial"
            name="num_ini"
            id="num_ini"
          />
          <input
            type="number"
            aria-label="num_end"
            class="form-control"
            placeholder="Final"
            name="num_end"
            id="num_end"
          />
        </div>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <mat-card class="mat-elevation-z8">
        <button type="submit" class="btn btn-outline-primary">Concluir</button>
      </mat-card>
    </form>
  </div>
</mat-card>
