
<form>
    <mat-form-field class="example-chip-list" style="width: 100%;">
        <mat-label>Acabamentos</mat-label>
        <mat-chip-grid #chipGrid aria-label="Selecione o Acabamento">
            @for (acabamento of listaAcabamentosAtual; track acabamento) {
            <mat-chip-row (removed)="remove(acabamento)" [color]="tiposChip ?? 'primary'">
                {{acabamento.descricao}}
                <button matChipRemove [attr.aria-label]="'remove ' + acabamento.descricao">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </mat-chip-grid>
        <input placeholder="Inclua um Acabamento" #fruitInput [formControl]="listaAcabamentosForm" [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (acabamento of _listaAcabamentos; track acabamento) {
            <mat-option [value]="acabamento">{{acabamento.descricao}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>