
<nav class="navbar navbar-expand-lg sticky-top navbar-dark  bg-primary  shadow-lg rounded"  >
  <a class="navbar-brand" href="/">Grafica Unilith</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto  ">
      <li><a class="nav-link" href="/orcamento">Orçamento</a></li>
      <li ><a class="nav-link"  href="/Ordem_servico">Ordem de Servico</a></li>
      <li ><a class="nav-link"  href="/cliente">Clientes</a></li>
      <li ><a class="nav-link"  href="/ces">Ces</a></li>
      <li ><a class="nav-link"  href="/suprimentos"> Suprimentos</a></li>
      <li ><a class="nav-link" href="/distribuidoras">Distribuidoras</a></li>

    </ul>
    <ul class="navbar-nav  navbar-right  ">
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu dropdown-menu-right">
          <form class="px-4 py-3">
            <div class="form-group">
            <label for="exampleDropdownFormtext">Login</label>
            <input type="text" class="form-control" id="exampleDropdownFormtext" placeholder="Login">
            </div>
            <div class="form-group">
            <label for="exampleDropdownFormPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
              Remember me
              </label>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
      </li>
    </ul>
  </div>
</nav>
<br>
